<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
          <div class="nav-profile-image">
            <img src="assets/images/faces/face1.jpg" alt="profile">
            <span class="login-status online"></span> <!--change to offline or busy as needed-->              
          </div>
          <div class="nav-profile-text d-flex flex-column">
            <span class="font-weight-bold mb-2">Maroti Uppe</span>
            <span class="text-secondary text-small">Java Developer</span>
          </div>
          <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="dashboard">
          <span class="menu-title">Dashboard</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="user">
          <span class="menu-title">User</span>
          <i class="mdi mdi-account-box menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="course">
          <span class="menu-title">Course</span>
          <i class="mdi mdi-checkerboard menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="content">
          <span class="menu-title">Content</span>
          <i class="mdi mdi-dns menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="payment">
          <span class="menu-title">Payment</span>
          <i class="mdi mdi-table-large menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="analytics">
          <span class="menu-title">Analytics</span>
          <i class="mdi mdi-chart-bar menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="notification">
          <span class="menu-title">Notification</span>
          <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        </a>
      </li>
    </ul>
  </nav>