<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-checkerboard"></i>
        </span>
        Course
    </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview
                <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
        </ul>
    </nav>
</div>
<div class="card-group">
    <div class="card pl-1 pr-1">
        <img class="card-img-top" src="../../../assets/images/course/java_programing_language.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Features of Java Programming Language</h5>
            <p class="card-text">Why Java is a Popular Programming Language ? Java happens to be a very popular programming language. </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card pl-1 pr-1">
        <img class="card-img-top" src="../../../assets/images/course/why_java_is_populer.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Why Java Is So Popular Language?</h5>
            <p class="card-text">Its code is easy to understand and troubleshoot. And its growing at great speed for
                many years now as it’s object-oriented based, and this makes it simpler for...</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card pl-1 pr-1">
        <img class="card-img-top" src="../../../assets/images/course//where_is_java_used_in_industry.jpg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Where Is Java Used In Industry?</h5>
            <p class="card-text">As a fresher, you might be wondering where Java is being used. You will not find a lot
                of games in Java. Also, the majority of desktop tools are in other languages. Also, the... </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>